* {
  box-sizing: border-box;
}

.index-body {
  background: url(../pictures/tabel-back.jpg);
  font-family: sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p {
  margin: 0px;
}

.play-card__value {
  /* Запрещение выделения текста */

  /* Modern */
  user-select: none;

  /* For IE */
  -ms-user-select: none;

  /* For Mozilla */
  -moz-user-select: none;

  /* For Chrome/Opera */
  -webkit-user-select: none;
}

.container {
  max-width: 1720px;
  padding: 0px 15px;
  margin: 0px auto;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  margin-bottom: -2.85%;
}

.play-card:not(:nth-child(8n)) {
  margin-right: 2.85%;
}

.play-card {
  position: relative;
  width: 10%;
  margin-bottom: 2.85%;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}

.play-card__value-wrapper {
  position: relative;
  width: 100%;
  padding-top: 160%;
}

.play-card__value {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-50%);
  text-align: center;
  font-size: 32px;
}

.play-card--close::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 10px;
  background-image: url(../pictures/shirt-back.jpg);
}
